html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grand-parent {
  background-color: #000;
   padding: 0px 5px 5px 5px;
   height: 99vh;
   position: relative;
}

.parent {
  display: flex;
  background-color: #000;
  padding: 0 5px 5px 5px;
}

.enfant {
  flex: 2;
  /* background-color: #151414; */
  background: linear-gradient(0deg, #151414, #2a2929);
  border-radius: 5px;
  margin-left: 5px;
  position: relative;
}

.resize:hover {
  border-right: solid #ccc 1px;
  cursor: col-resize;
}

.resize {
  transition: border-right-color 0.9s ease;
  height: 84vh;
  border-radius: 5px;
}

.pied {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0cap;
  margin: 0px 5px;
}
